body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdfd;
  padding-top: 20px;
  padding-left: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-dmmspl-MuiFormGroup-root{
  display: flex!important;
  flex-direction: row!important;
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: -10px;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked{
  color: #82ca9d!important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root{
  color: #82ca9d !important;
  margin: -10px!important;
}

/* .css-vqmohf-MuiButtonBase-root-MuiRadio-root */
